body {
  font-family: 'Source Code Pro', monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Press Start 2P', 'Source Code Pro', monospace;
}

p, a, li, button, input, textarea {
  font-family: 'Source Code Pro', monospace;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
